[req]
default_bits = 2048
prompt = no
default_md = sha256
x509_extensions = v3_req
distinguished_name = dn

[dn]
C = ID
ST = Jawa Barat
L = Bandung
O = ITB
OU = DSP-MC ITB
CN = 192.168.0.139

[v3_req]
subjectAltName = @alt_names

[alt_names]
IP.1 = 192.168.0.139