DB_HOST=localhost
DB_PORT=5432
DB_USER=ybandung
DB_PASSWORD=ybandung
DB_NAME=auth_db
DB_DRIVER=postgres
JWT_SECRET=yoursecretkey
PORT=8080

VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBSCRIBER=mailto:

MQTT_CLIENT_ID=
MQTT_BROKER_URL=tcp://mqtt.eclipseprojects.io:1883

ORS_API_KEY=

# AWS S3 Configuration
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
S3_BUCKET_NAME=